/*Fondo de la pagina*/
body{
    background-image:url(../imagenes/a97c1db28eae8944c50aa2f3f587e8ed.jpg) ;
    margin:0;
    padding: 0;
}
/*enlaces dentro de listas*/
.enlaces ul li{
    width: 25%;
    height: 100%;
    list-style: none;
    
}

.cajadetexto{
    width:75%;
    margin-left:25%;
    float: right;
    
}
img{
    display: flex;
    justify-content: center;
}
