.lema{
width: 33%;
float:left;
background-color: blue;
color: white;
font-family: fantasy;
}
.enlaces{
    display:flex;
    width:66%;
    justify-content: space-around;
    background-color: yellow;
}
.contenido{
    display:flex;
    justify-content: space-around;
}
#publicidad{
    width:25%;
    
 
}
#publicidad2{
    width: 25%;
    
}
#centro{
    width:50%;
    padding:10px;
    background-color: #0000ff;
    color: #ffff;
    font-family: cursive;
    
}

.fila3{
    padding:10px;
    text-align:center;
    width: 100%;
}
